<!-- 


  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/ants"></ion-back-button>
      </ion-buttons>
     
      <ion-title>
        xxxx
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Blank</ion-title>
      </ion-toolbar>
    </ion-header>

    <div id="container">
      <app-ants-selected></app-ants-selected>
      
    </div>
  </ion-content> -->
sdfsdfsd