

$size: 90px;

@media only screen and (min-width: 992px) {
    $size: 120px;
    img {
        max-width: $size !important;
    }
}



// ::ng-deep {
    ion-card-header,
    ion-card-content {
        // margin: 0px !important;
        padding: 5px !important;
        padding-left: 0px !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    ion-card-title{
        font-size: 1.4em;
    }
// }

img {
    max-width: $size;
}

ion-col {
    align-self: center;
    margin: 0 auto;
    &:nth-child(1) {
        // padding-left: 0px;
        margin-left: 0px;
    }
    &:nth-child(2) {
        text-align: center;
    }

    &:nth-child(3) {
        text-align: right;
        margin:0;
        padding:0;
        // background-color: greenyellow;
        height: $size;
        display:flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }
}

ion-card{
    cursor:pointer;
}

