ion-page{
    justify-content: flex-start !important;
}


.list-cards {
    // display: flex;
    // flex-flow: column wrap;
    // overflow-x: hidden;
    overflow-y: auto;
    ion-card{
        cursor: pointer;
        img{
            max-height: 140px;
        }
        ion-card-header{
            text-align: center;
            padding: 4px;
        }
    }

}


