

.list-cards {
    overflow-y: auto;
    ion-card{
        cursor: pointer;
        img{
            max-height: 140px;
        }
        ion-card-header{
            text-align: center;
        }
    }
    // width: calc(100% - 40px);
    // margin-left: 20px;
    // margin-right: 20px;
    // -webkit-box-align: center;
    // align-items: center;
}


// ion-card-content {
//     max-height: calc(100% - #{50px});
//     position: relative;
//     overflow: hidden;
//     overflow-y: auto;
//     ::-webkit-scrollbar {
//       display: none;
//     }
//   }