
.list-cards {
    overflow-y: auto;
    ion-card{
        cursor: pointer;
        img{
            max-height: 140px;
        }
        ion-card-header{
            text-align: center;
            padding: 4px;
        }
    }

}


