<ion-header translucent>
  <ion-toolbar>
    <!-- (click)="openSidenav()" -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      AntAppTODO
    </ion-title>
  </ion-toolbar>
</ion-header>

<div>

  <div id="container">
    <div class="searcher">

      <ion-row>
        <ion-col>
          <app-searcher (out)="onSearch($event)"></app-searcher>
        </ion-col>

        <ion-col size="1" (click)="openFilter()">
          <ion-icon name="options-outline" ></ion-icon>
        </ion-col>
      </ion-row>


    </div>


    <app-filter-box></app-filter-box>
    <app-item-box [items]="dataItems"></app-item-box>
    <!-- <ng-container #componenteDinamico></ng-container> -->


    <!-- <ion-button [routerLink]="['/home']">Home</ion-button> -->



  </div>
</div>

<!-- <ion-footer translucent>

</ion-footer> -->