<ion-header translucent>
  <ion-toolbar>
    <!-- (click)="openSidenav()" -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      AntAppTODO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div id="container">
    <app-searcher (out)="onSearch($event)"></app-searcher>
    <app-filter-box></app-filter-box>
    <app-item-box [items]="dataItems"></app-item-box>
    <!-- <ng-container #componenteDinamico></ng-container> -->


    <ion-button [routerLink]="['/home']">Home</ion-button>



  </div>
</ion-content>

