 <!-- <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu> -->

 <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu" (ionDidClose)="openCloseSidenav($event)"
   (ionDidOpen)="openCloseSidenav($event)">
   <ion-header>
     <ion-toolbar color="tertiary">
       <ion-title>Custom Menu</ion-title>
     </ion-toolbar>
   </ion-header>

   <!-- <ion-button [routerLink]="['/home']" routerDirection="root">Home</ion-button> -->
   <!-- <ion-content>
     <ion-list>
       <ion-item>Menu Item</ion-item>
       <ion-item>Menu Item</ion-item>
       <ion-item>Menu Item</ion-item>
       <ion-item>Menu Item</ion-item>
       <ion-item>Menu Item</ion-item>
     </ion-list>
   </ion-content> -->
 </ion-menu>

 


 <ion-header translucent>
   <ion-toolbar>
     <!-- (click)="openSidenav()" -->
     <ion-buttons slot="start">
       <ion-menu-button></ion-menu-button>
     </ion-buttons>
     <ion-title>
       AntApp
     </ion-title>
   </ion-toolbar>
 </ion-header>

 <ion-content fullscreen>
 
   <div id="container">
    <ng-container #componenteDinamico></ng-container>
   </div>
 </ion-content>