<!-- <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu" (ionDidClose)="openCloseSidenav($event)"
(ionDidOpen)="openCloseSidenav($event)">
<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Custom Menu</ion-title>
  </ion-toolbar>
</ion-header> -->

  <!-- <ion-content class="ion-padding">
    <ion-button [routerLink]="['/home']">Home</ion-button>
  </ion-content> -->

 <!-- <ion-content>
  <ion-list>
    <ion-item [routerLink]="['/home']">Home</ion-item>
    <ion-item>Menu Item</ion-item>
    <ion-item>Menu Item</ion-item>
    <ion-item>Menu Item</ion-item>
    <ion-item>Menu Item</ion-item>
  </ion-list>
</ion-content>
</ion-menu>  -->



<ion-menu contentId="main" side="start" menuId="myNav" [swipeGesture]="swipeGest" class="my-custom-menu" (ionDidClose)="openCloseSidenav($event)"
(ionDidOpen)="openCloseSidenav($event)">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-list-header>
        Guías de campo
      </ion-list-header>
      <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
        <ion-item [routerLink]="p.url" routerLinkActive="active">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
          <ion-label>
            {{p.title}}
          </ion-label>
        </ion-item>

      </ion-menu-toggle>
    </ion-list> 

   

    <ion-list>
      <ion-list-header>
        Tutorial
      </ion-list-header>
      <ion-menu-toggle autoHide="false">
        <ion-item  (click)="openTutorial()">
          <ion-icon slot="start" name="hammer"></ion-icon>
          <ion-label>Intro</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>