.image {
    margin: 0 auto;
    text-align: center;
}

.position {
    position: absolute;
    border-radius: 5px;
    padding: 0 4px;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 0.8em;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.52);
    color: black;
}

@media (max-width: 800px) and (orientation: landscape) {
    img {
        z-index: 999999;
        object-fit: contain;
        // object-position: 50% 50%;
        // object-position: 0 0;

        // width: 100%;
        background-position: center center;
        // object-fit: scale-down;
        // height: 70vw;
        // max-height: 500px;
        // max-width: 800px;
        margin: 0 auto;

        height: 100vh;
        width: 100vw;
    }

    .position {
        top: 1em;
        bottom: auto;
        right: 1em;
        background: beige;
    }

    ::ng-deep {
        ion-toolbar {
            display: none;
        }

        ion-slide {
            background: black;
        }
    }


}