.position {
    position: absolute;
    border-radius: 5px;
    padding: 0 4px;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 0.8em;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.52);
    color: black;
}

@media (orientation: landscape) {
    img {
        z-index: 999999;
        object-fit: cover;
        object-position: 50% 0%;
        // object-position: 0 0;
    }

    .position {
        bottom: 2em;
        right: 1.5em;
    }

    ::ng-deep {
        ion-toolbar {
            display: none;
        }
    }


}