<p>
  ants-description works!
</p>

<ion-content>
  <ion-list>


    <ion-card>
      <ion-card-header>
        <ion-card-title>Cocina</ion-card-title>
      </ion-card-header>
      <ion-card-content>
   sadfsdf
      </ion-card-content>
    </ion-card>




    <ion-card>
      <ion-card-header>
        <ion-card-title>Descripción</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div ><span class="caract">- Sombrero:</span>
          <span>
            <div class="color"></div>
          </span>
          sdafssdfsdf
        </div>


      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title>Habitat</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- {{item.habitat}} -->
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Temporada</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- {{item.temporada}} -->
      </ion-card-content>
    </ion-card>





  </ion-list>
</ion-content>