
<div *ngIf="data?.taxonomy">
  
  <ion-list>


    <ion-card>
      <ion-card-header>
       
        <ion-card-title> <b>Especie:</b> {{data.taxonomy.specie}}</ion-card-title>
        <ion-card-subtitle> <b>Subfamilia:</b> {{data.taxonomy.subfamily}}</ion-card-subtitle>

      </ion-card-header>

      <ion-card-content>


        <!-- <p><b>Clase:</b> {{item.taxonomia.subclase}}</p> -->
        <!-- <p><b>Orden:</b> {{item.taxonomia.orden}}</p> -->
        <!-- <p><b>Familia:</b> {{item.taxonomia.familia}}</p> -->

      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Cocina</ion-card-title>
      </ion-card-header>
      <ion-card-content>
   sadfsdf
      </ion-card-content>
    </ion-card>




    <ion-card>
      <ion-card-header>
        <ion-card-title>Descripción</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div ><span class="caract">- Sombrero:</span>
          <span>
            <div class="color"></div>
          </span>
          sdafssdfsdf
        </div>


      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title>Habitat</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- {{item.habitat}} -->
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Temporada</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- {{item.temporada}} -->
      </ion-card-content>
    </ion-card>


  </ion-list>


</div>