
<div *ngIf="data?.taxonomy">
  
  <ion-list>


    <ion-card>
      <ion-card-header>
        <ion-card-title>Taxonomía</ion-card-title>
        <p><b>Especie:</b> {{data.taxonomy.specie | titlecase}}</p>
        <p><b>Subfamilia:</b> {{data.taxonomy.subfamily | titlecase}}</p>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>



    <ion-card>
      <ion-card-header>
        <ion-card-title>Identificación</ion-card-title>
        <p><b>Reina:</b> {{data.identification.queen.size?.join('-')}} mm. {{data.identification.queen.color?.join(', ')}}</p>
        <p><b>Obreras:</b> {{data.identification.worker.size?.join('-')}} mm. {{data.identification.worker.color?.join(', ')}}</p>
        <p *ngIf="data.identification.polimorph==='1' && data.identification.soldier?.size?.length>0"><b>Soldado:</b> {{data.identification.soldier?.size?.join('-')}} mm. {{data.identification.soldier?.color?.join(', ')}}</p>
        <p *ngIf="data.identification.polimorph==='1' && data.identification.male?.size?.length>0"><b>Macho:</b> {{data.identification.male?.size?.join('-')}} mm. {{data.identification.male?.color?.join(', ')}}</p>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>



    <ion-card>
      <ion-card-header>
        <ion-card-title>Habitat</ion-card-title>
        <p><b>Zonas donde buscar:</b> {{data.habitat.zone.join(', ')}}</p>
        <p><b>Anidamiento:</b> {{data.habitat.nestForm.join(', ')}}</p>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Distribución</ion-card-title>
        <p><b>Continentes:</b> {{data.distribution.continent.join(', ')}}</p>
        <p><b>Países:</b> {{data.distribution.country.join(', ')}}</p>
        <p *ngIf="data.distribution.country.includes('españa')"><b>Comunidades autónomas:</b> {{data.distribution.ca.join(', ')}}</p>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title>Biología</ion-card-title>
        <p><b>Tipo de colonia:</b> {{data.biology.colonyType?.join(', ')}}</p>
        <p><b>Hibernación:</b> {{data.biology.colonyType?.join('-')}}</p>
        <p><b>Enjambrazón:</b> {{data.biology.matingFlight?.join('-')}} {{data.biology.matingFlight_text}}</p>
        <p><b>Nutrición:</b> {{data.biology.nutrition?.join('-')}}. {{data.biology.nutrition.nutrition_text}}</p>
        <p><b>Descripción:</b> {{data.biology.description}}</p>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Cuidados</ion-card-title>
        <p><b>Nivel:</b> {{data.keepingLevel.level}}</p>
        <p><b></b> {{data.keepingLevel.obj}}</p>
        <p><b></b> {{data.keepingLevel.text}}</p>
        <p><b>Humedad en nido:</b> {{data.airhumidity?.nest?.join('-')}}</p>
        <p><b>Humedad en arena:</b> {{data.airhumidity?.arena?.join('-')}}</p>
        <p><b>Temperatura en nido:</b> {{data.temperature?.nest?.join('-')}}</p>
        <p><b>Temperatura en arena:</b> {{data.temperature?.arena?.join('-')}}</p>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title>Formicaria</ion-card-title>
        <p><b>Tamaño:</b> {{data.formicaria.size?.join('-')}}</p>
        <p><b>Subfamilia:</b> {{data.taxonomy.subfamily}}</p>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>


  </ion-list>


</div>